body {
    object-fit: cover;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

li > ul {
    display: block;
}
ul > li {
    cursor: move;
    &:hover {
        color: #1F275B;
    }
}
li.on-open > ul {
    display: none;
}
.toggle{
    cursor: pointer;
}
.toggle > ul {
    cursor: default;
    color: #0a0a0a;
}
.change-position {
    border: 1px solid red;
}
select {
    display: block;
}
button.button-plus,
button.delete-button {
    border: none;
    border-radius: 50%;
    height: 17px;
    padding: 0;
    width: 17px;
    background-color: transparent;
    transition: all .3s;
    outline: none;
    i {
        display: inline-block;
        font-size: 17px;
        line-height: 23px;
    }
    &:hover {
        color: #FF5624;
        cursor: pointer;

    }
}

