body {
  object-fit: cover;
  display: flex;
  font-family: 'PT Sans', sans-serif;
}

li > ul {
  display: block;
}

ul > li {
  cursor: move;
  &:hover {
    color: #7a2a0c;
  }
}

li.on-open > ul {
  display: none;
}

.toggle {
  cursor: pointer;
}

.toggle > ul {
  cursor: default;
  color: #0a0a0a;
}

.change-position {
  border: 1px solid red;
}

select {
  display: block;
}

button.button-plus,
button.delete-button {
  border: none;
  border-radius: 50%;
  height: 17px;
  padding: 0;
  width: 17px;
  background-color: transparent;
  transition: all .3s;
  outline: none;
  i {
    display: inline-block;
    font-size: 17px;
    line-height: 23px;
  }
  &:hover {
    color: #FF5624;
    cursor: pointer;

  }
}

button.add-new-cat {
  color: blue;
  border: none;
  height: 40px;
  width: 50px;
  cursor: pointer;
  color: #2C4446;
  background-color: transparent;
  border: 1px solid #FF5624;
  transition: .3s all;
  position: relative;
  &:hover {
    background-color: #FF5624;
    &:after {
      content: 'Добавить в корень';
      position: absolute;
      top: 5px;
      left: 55px;
      padding: 0 10px;
      height: 30px;
      width: 200px;
      line-height: 30px;
      background-color: red;
      background-color: #FF5624;
      opacity: .5;
      color: #fff;
    }

  }

}

#inpCat {
  border: 1px solid #FF5624;
  box-sizing: border-box;
  height: 40px;
  padding-left: 10px;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: .5px;
  outline: none;
  transition: all .5s;
  &:focus {
    border: 1px solid #FF5624;
    box-shadow: inset 0px -3px #FF5624;
  }
}

